*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.login{
    position: absolute;
    top: 50%;
    left: 105%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly ;
    align-items: center;
    gap: 10px;
}
    .busqueda{
        background-color: transparent;
        width: 100%;
        height: 15%;
        padding: 7px;
        border-radius: 3px;
        border: 1px solid rgb(219, 219, 219);
        font-size: 12pt;
}
    .but{
        background-color:#00B159 ;
        color: white;
        width: 120%;
        height: 40px;
        padding: 6px;
        border-radius: 8px;
        margin-top: 10px;
        border: transparent;
        font-size: 14pt;
        font-weight: bold;
    }
    .login ::placeholder{
        color: white;
        -webkit-text-stroke: 0.1px black;
    }
    h1{
        color: #00B159;
        font-size: 60px;
        margin-bottom: 30px;
        -webkit-text-stroke: 1px black;
    }