form {
    position: relative;
    width: 600px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 230px;
    margin-left: 550px;
    gap: 20px;
  }
  
  button {
    color: #06924c;
    width: 140px;
    height: 40px;
    padding: 6px;
    border-radius: 8px;
    margin-top: 5px;
    border: transparent;
    font-size: 16pt;
    font-weight: bold;
  }
  
  .busqueda {
    background-color: transparent;
    width: 300px;
    height: 40px;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid rgb(219, 219, 219);
    font-size: 12pt;
    color: white;
  }
  
  .busqueda::placeholder {
    color: white;
    opacity: 1;
  }
  
  h1 {
    color: #00B159;
    font-size: 45px;
    margin-bottom: 10px;
  }
  
  .invalid-feedback {
    color: #a31b1b;
    font-weight: 600;
    font-size: 14pt;
  }
  