*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.header a.active {
    background-color: #2bd47f;
    transform: scale(2.5);
    color: rgb(10, 101, 186);
}
.header{
    width: 100%;
    height: 65px;
    background-color: #00B159;

    display: flex;
    flex-direction: row;
    align-items: center;
}
    h1{
        margin-left: 20px;
        width: 10%;
    }
    .logo{
        height: 100%;
        width: 6%;
        background-color: #00B159;
        margin-left: 30px;
    }
    .vacio{
        width: 5%;
        margin-left: 100px;
        margin-right: 120px;
    }
    .button1{
        margin-right: 45px;
    }
    
    header a{
        color: black;
        text-decoration: none;
        font-size: 20pt;
    }
    header a:hover{
        background-color: #44f69d;
        transform: scale(1.5);
    }
    .button:hover{
        background-color: #44f69d;
        transform: scale(1.5);
    }