<div class ="info">
    <img src="/assets/imagenes/1672-libros.jpg" style="height: 84vh;width: 100vw;background-repeat: no-repeat;background-attachment: fixed;background-size: cover;filter: blur(10px);opacity: 0.7;" >
    <div class="profile">
        <div class="datos">
            <div class="foto">
                <img src="{{userService.user.photo}}"style="height: 190px;width: 190px; border-radius: 100%; border: 2px solid rgb(152, 137, 109)">
            </div>
            <div class="name"><p>{{userService.user.name}} {{userService.user.last_name}}</p></div>
            <div class="datos1">
                <form class="login">
                    <p>Nombre</p><h3> &nbsp;&nbsp; {{userService.user.name}}</h3>
                    <p>Apellidos</p><h3> &nbsp;&nbsp; {{userService.user.last_name}}</h3>
                    <p>Correo</p><h3> &nbsp;&nbsp; {{userService.user.email}}</h3>
                </form>
            </div>
        </div>
        <div class="registro">
            <form class="login1"><h1>Editar perfil</h1>
                <input class="busqueda"type="text" #input2 placeholder="Nombre">
                <input class="busqueda"type="text" #input3 placeholder="Apellidos">
                <input class="busqueda"type="text" #input4 placeholder="E-mail">
                <input class="busqueda"type="text" #input5 placeholder="Url">
                <button class="but" type= "button" (click)=info(input2,input3,input4,input5)>Modificar</button>
            </form>
        </div>
    </div>
</div>