*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.info{
    position: relative;
    width: 1536px;
    height: 585px;
    display: flex;
    align-items: center;

}

.datos{
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgb(152, 137, 109);
    border-radius: 4px;
    background-color: wheat;
    opacity: 0.8;
}
    .foto{
        margin-top: 40px;
    }
    .name{
        background-color: transparent;
        width: 300px;
        height: 50px;
        padding: 7px;
        font-size: 30pt;
        color: rgb(46, 42, 42);
        margin-bottom: 10px;
        margin-left: 50px;

    }
    .login{
        width: 400px;
        display: flex;
        flex-direction: row;
        justify-content:space-evenly ;
        align-items: row;
        flex-wrap: wrap;
        gap: 20px;
        margin-top: 7px;
        font-size: 16pt;
        color: #00B159;
        -webkit-text-stroke: 0.5px black;

    }
    .login h3{
        border: 2px solid rgb(13, 13, 12);
        border-radius:2px ;
        width: 300px;
        height: 40px;
        font-size: 16pt;
        border-style: dashed;
        color: rgb(46, 42, 42);
        padding: 6px;
    }
.login1{
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly ;
    align-items: center;
    gap: 10px;
    border: 2px solid wheat;
    border-radius:4px ;
    background-color: wheat;
    opacity: 0.8;
}
    .busqueda{
        background-color: transparent;
        width: 300px;
        height: 50px;
        padding: 7px;
        border-radius: 3px;
        border: 1px solid rgb(152, 137, 109);
        font-size: 12pt;
        border-top: transparent;
        border-right: transparent;
        border-style: dashed;
}
    .but{
        background-color:#00B159 ;
        color: white;
        width: 200px;
        height: 40px;
        padding: 6px;
        border-radius: 8px;
        margin-top: 10px;
        border: transparent;
        font-size: 14pt;
        font-weight: bold;
    }
    .login1 ::placeholder{
        color:#00B159 ;
        -webkit-text-stroke: 0.3px black;
    }
    h1{
        color: #00B159;
        font-size: 60px;
        margin-bottom: 30px;
        -webkit-text-stroke: 1px black;
    }