<div class ="info">
    <img src="/assets/imagenes/1672-libros.jpg" style="height: 585px;width: 1536px;background-repeat: no-repeat;background-attachment: fixed;background-size: cover;filter: blur(10px);opacity: 0.7;" >
    <div class="profile">
        <div class="datos">
            <div class="foto">
                <img src="{{user.photo}}"style="height: 200px;width: 200px; border-radius: 100%; border: 2px solid rgb(152, 137, 109)">
            </div>
            <div class="name"><p>{{user.nombreCompleto()}}</p></div>
            <div class="datos1">
                <form class="login">
                    <p>Nombre</p><h3> &nbsp;&nbsp; {{user.name}}</h3>
                    <p>Apellidos</p><h3> &nbsp;&nbsp; {{user.last_name}}</h3>
                    <p>Correo</p><h3> &nbsp;&nbsp; {{user.email}}</h3>
                </form>
            </div>
        </div>
        <div class="registro">
            <form class="login1"><h1>Editar perfil</h1>
                <input class="busqueda"type="text" #input2 placeholder="Nombre">
                <input class="busqueda"type="text" #input3 placeholder="Apellidos">
                <input class="busqueda"type="text" #input4 placeholder="E-mail">
                <input class="busqueda"type="text" #input5 placeholder="Url">
                <button class="but" type= "button" on-click=enviar2(input2.value,input3.value,input4.value,input5.value)>Modificar</button>
            </form>
        </div>
    </div>
</div>