<div class="main-container">
    <div class="info">
      <img src="/assets/imagenes/1672-libros.jpg" class="background-image">
      <div class="container">
        <div *ngIf="books.length === 0; else esFalso">
          <h1>NO HAY LIBROS QUE MOSTRAR</h1>
        </div>
        <ng-template #esFalso>
          <div class="card" *ngFor="let item of books; let i = index; even as isEven">
            <div class="face front">
              <img [src]="item.photo">
            </div>
            <div class="face back">
              <h3>{{item.title}}</h3>
              <h5>{{item.author}}</h5>
              <h6>{{item.price}}</h6>
              <p>{{item.type}}</p>
              <p>{{item.id_book | refIdBook}}</p>
              <p>{{item.id_user}}</p>
              <button class="but" [ngClass]='{"but2" : isEven , "but" : !isEven}' type="button">Comprar</button>
            </div>
          </div>
        </ng-template>
        <form class="añadir">
          <h1>Añadir libro</h1>
          <input class="busqueda" id="titulo" #titulo placeholder="Titulo">
          <input class="busqueda" id="tipo" #tapa placeholder="Tapa blanda/dura">
          <input class="busqueda" id="autor" #autor placeholder="Autor">
          <input class="busqueda" id="precio" #precio placeholder="Precio">
          <input class="busqueda" id="foto" #foto placeholder="Portada">
          <input class="busqueda" id="codigo" #codigo placeholder="Codigo libro">
          <button class="but" type="button" (click)="register(titulo.value, tapa.value, autor.value, +precio.value, foto.value, +codigo.value)">Insertar Libro</button>
        </form>
      </div>
    </div>
  </div>
  