<div class="main-container">
  <div class="info">
    <img src="/assets/imagenes/1672-libros.jpg" class="background-image">
      <div class="bus">
        <input class="busqueda" id="codigo" #codigo placeholder="Id libro">
        <button class="but" type="button" (click)="busqueda(codigo.value)">Buscar Libro</button>
      </div>
      <div class="container">
        <div *ngIf="books.length === 0; else esFalso">
          <h1>NO HAY LIBROS QUE MOSTRAR</h1>
        </div>
        <ng-template #esFalso>
            <ng-container *ngFor="let book of books; let even = even; let i = index">
              <app-card [libroPadre] = "book" [esImpar] = "even" (quitar) = "borrar($event)"></app-card>
            </ng-container>
        </ng-template>
    </div>
  </div>
</div>
  